<div class="hero">
  <div class="main-page-header">
    <h1>OPPS! THIS PAGE ISNT READY YET</h1>
    <p>FOLLOW US ON INSTAGRAM FOR WEBSITE UPDATES.<br><a href="https://www.instagram.com/trailrunsydney/" target="_blank"class="basic-link coming-soon-link">@TRAILRUNSYDNEY</a></p>
  </div>
</div>
