<div class="thankyou-container">
  <div class="trail-header">
    <h3>THANK YOU FOR YOUR CONTRIBUTION</h3>
  </div>
  <p>We have received your message and will respond as soon as possible.</p>
  <%= link_to "BACK TO HOME", '/static_pages/index', class:'green-link' %>
</div>