
<div class="container">
  <h1>Trail Run Sydney</h1>
  <p>Like running? Like exploring? Like escaping the city pressure?<br><br>

  Me too. My name is Nic Fisher and I really enjoy getting off the concrete and running the leafy trails that wind their way across Sydney. That is when I could find them.<br><br>

  Too often I’d have to play detective and piece together a map, where to park, was there any public transport. By the time I’d found all this it was too late to start or I’d just had the desire sucked out of me and I’d pound the pavement once again.<br><br>

  Enough is enough. I want to do something about this and I want you to join me.<br><br>

  Introducing TrailRunSydney.com your one-stop guide to discovering Sydney’s running trails that are right on your doorstep.<br><br>


  Right now I’m collating all the data - and having a blast doing it mind you - by running and recording as much as I can.<br><br>

  I want you to be involved. I want this to be a community project. More sets of legs, more eyes on the trails, more ears to the ground, the better this becomes for all of us.<br><br>

  If you would like to be a part of this, make some running friends, maybe learn new skills and get a few dopamine hits along the way then don’t be shy, say hi.<br><br>

  Email me: nic@<br><br>
  call me: 09999999</p>
</div>