/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: 'Montserrat', sans-serif;
}

/* Navigation */

.navbar {
  background-color: rgb(221, 100, 17);
  border: none;
  border-radius: 0px;
  height: 80px;
  margin-bottom: 0;
  position: relative;
  z-index: 1;
}

.trs-nav-logo {
  width: 255px;
  height: 70px;
  margin: 5px 0;
}

.nav li a {
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
}

.navbar-default .navbar-nav>li>a {
  color: rgb(255, 255, 255);
}

.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
  color: rgb(0, 0, 0);
}

.navbar-nav {
  margin: 15px 0;
}

.navbar {
  position: relative;
}

.nav>li>.social-media-links {
  padding: 0px;
}

.social-media-insta,
.social-media-fb {
  padding: 5px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100%;
  color: rgb(255, 255, 255);
  margin: 5px 0 0 20px;
  font-size: 11px;
}

.social-media-fb {
  padding: 5px 7px;
  margin-left: 5px;
}

.nav>li>a:focus, 
.nav>li>a:hover {
  color: rgb(0, 0, 0);
}

.social-media-fb:hover,
.social-media-insta:hover {
  color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
}

/* Footer */

.footer {
  background-color: rgb(207, 90, 0);
  color: rgb(255, 255, 255);
  text-align: center;
}

.footer h4 {
  text-align: center;
  padding: 30px 0 30px 0;
  font-size: 14px;
  margin-top: 0;
}

.footer-row {
  padding: 0 0 50px 0;
  margin: 0;
}

.footer-paragraph {
  font-size: 12px;
  font-weight: 300;
}

footer {
  background-color: rgb(222, 215, 210);
}

footer p {
  color: rgb(0, 0, 0);
  margin-bottom: 0;
  padding: 20px 0;
  text-align: center;
  font-size: 11px;
  font-weight: 500;
}

.footer-media-links {
  padding: 0;
  text-align: center;
}

.footer-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.footer-link:focus,
.footer-link:hover {
  background-color: transparent;
  color: rgb(0, 0, 0);
  text-decoration: none; 
}



/* Media Queries */

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
  .nav li a {
    font-size: 14px;
  }
 }

/* Landscape phone to portrait tablet */

@media (max-width: 767px) { 
  
  /* Navigation */

  .navbar {
    background-color: rgb(221, 100, 17);
    border: none;
    border-radius: 0px;
    height: 70px;
    margin-bottom: 0;
  }

  .trs-nav-logo {
    width: 218px;
    height: 60px;
    margin: 5px 0 5px 15px;
  }

  .nav li a {
    font-size: 14px;
  }

  .nav>li>a.social-media-links {
    display: inline;
  }

  .nav>li {
    display: inline;
  }

  .navbar-collapse {
    background-color: rgb(221, 100, 17);
  }

  .social-media-insta {
    margin-left: 15px;
  }

  .navbar-default .navbar-toggle {
    border: 2px solid rgb(255, 255, 255);
    margin: 17px 15px 17px 0;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: rgb(255, 255, 255);
  }

  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: transparent;
    border-color: rgb(0, 0, 0);
  }

  .navbar-default .navbar-toggle:hover .icon-bar,
  .navbar-default .navbar-toggle:focus .icon-bar {
    background-color: rgb(0, 0, 0);
  }

  .footer-media-links>a.social-media-links>i.social-media-insta {
    margin-left: 0;
  }
}

/* Landscape phones and down */

@media (max-width: 480px) {

  .trs-nav-logo {
    width: 182px;
    height: 50px;
    margin: 10px 0 10px 15px;
  }

  .brand {
    left: 90px;
    top: 25px;
  }

  .nav li a {
    font-size: 10px;
    padding-left: 4px;
    padding-right: 4px;
  }

  .footer-row {
    padding: 0 10px 20px 10px;
  }

  footer p {
    font-size: 8px;
  }

  .footer h4 {
    font-size: 12px;
  }

   
  i.fa.fa-instagram.social-media-insta {
    padding: 5px 6px;
  }
}








