/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Navigation */

.navbar {
  background-color: rgb(221, 100, 17);
  border: none;
  border-radius: 0px;
  height: 90px;
  margin-bottom: 0;
}

.trs-nav-logo {
  height: 50px;
  width: 174px;
}

.nav li a {
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
}

.nav-container {
  margin: 20px 8%;
}

.navbar {
    position: relative;
}

.brand {
    position: absolute;
    left: 50%;
    margin-left: -85px !important;
    display: block;
}

.nav>li>.social-media-links {
  padding: 0px;
}

.social-media-insta,
.social-media-fb {
  padding: 5px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100%;
  color: rgb(255, 255, 255);
  margin-left: 20px;
  font-size: 11px;
}

.social-media-fb {
  padding: 5px 7px;
  margin-left: 5px;
}


.nav>li>a:focus, 
.nav>li>a:hover {
  background-color: transparent;
  color: rgb(0, 0, 0);
}

.social-media-fb:hover,
.social-media-insta:hover {
  color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
}

/* Footer */

.footer {
  background-color: rgb(207, 90, 0);
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
}

.footer h4 {
  text-align: center;
  padding: 30px 0 30px 0;
  font-size: 14px;
  margin-top: 0;
}

.footer-row {
  padding: 0 20% 50px 20%;
}

.footer-paragraph {
  font-size: 12px;
  font-weight: 300;
}

footer {
  background-color: rgb(222, 215, 210);
}

footer p {
  color: rgb(0, 0, 0);
  margin-bottom: 0;
  padding: 20px 0;
  text-align: center;
  font-size: 11px;
  font-weight: 500;
}

.footer-media-links {
  padding-left: 30px;
  text-align: left;
}

.footer-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.footer-link:focus,
.footer-link:hover {
  background-color: transparent;
  color: rgb(0, 0, 0);
  text-decoration: none; 
}



/* Media Queries */

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
  .nav li a {
    font-size: 12px;
  }

  .nav-container {
    margin: 20px 20px;
  }
 }

/* Landscape phone to portrait tablet */

@media (max-width: 767px) { 
  
  /* Navigation */

  .nav li a {
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .nav-container {
    margin: 20px 50px 20px 10px;
  }

  .trs-nav-logo {
  height: 30px;
  width: 104px;
  }

  .social-media-insta,
  .social-media-fb {
    border: 1px solid rgb(255, 255, 255);
    margin-left: 5px;
  }

  .brand {
    left: 100px;
  }

  .nav-div {
    float: right;
  }

  .navbar {
    background-color: rgb(221, 100, 17);
    border: none;
    border-radius: 0px;
    height: 70px;
    margin-bottom: 0;
  }

  .nav-container {
    margin: 20px 10px 20px 0px;
  }

  .footer-media-links {
    text-align: center;
    margin-top: 10px;
  }

  .footer-paragraph {
    font-size: 11px;
  }

  footer p {
  font-size: 9px;
  }
}

/* Landscape phones and down */

@media (max-width: 480px) {

  .trs-nav-logo {
  height: 17px;
  width: 60px;
  }

  .brand {
    left: 105px;
    top: 25px;
  }

  .nav li a {
    font-size: 8px;
    padding-left: 6px;
    padding-right: 6px;
  }

  .footer-row {
    padding: 0 10% 20px 10%;
  }

  footer p {
    font-size: 8px;
  }

  .footer h4 {
    font-size: 12px;
  }
}








