// Place all the styles related to the trails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.trail-header {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(222, 215, 210);
  height: 80px;
  width: 100%;
  margin-bottom: 20px;
}

.trail-header h3 {
  margin: 0;
  font-size: 20px;
  padding: 29px 0;
}

.small-trail-img {
  padding-right: 10%;
}

.trail-column {
  padding: 0;
  margin-top: 5%;
}

.trail-row {
  padding: 0 10%;
}

.overlay {
  position: absolute;
  top: 0;
  width: 90%;
  height: 100%;
  background-color: rgba(0, 0, 0,0.55);
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 20%;
}

.overlay:hover {
  background-color: rgba(0, 0, 0,0.85);
}

.overlay h4 {
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 16px;
}

.overlay p {
  font-size: 10px;
  text-transform: uppercase;
}

.trail-icon {
  width: 25px;
  height: 20px;
}

.small-orange-line {
  height: 2px;
  width: 60px;
  background-color: rgb(193, 87, 37);
  margin: 0 auto 10px auto;
}


/* Mobile Compatibility */

@media (min-width: 768px) and (max-width: 979px) {
  
  .overlay h4 {
    font-size: 14px;
  }
  
  .overlay p {
  font-size: 9px;
  }

  .trail-icon {
    width: 20px;
    height: 16px;
  }
}

  @media (max-width: 767px) { 
  
  .overlay h4 {
    font-size: 20px;
  }

  .overlay p {
  font-size: 14px;
  }

  .trail-icon {
    width: 25px;
    height: 20px;
  }

  .small-orange-line {
    height: 3px;
  }

  .overlay {
    width: 100%;
  }

  .small-trail-img {
    padding-right: 0;
  }

  .trail-row {
    padding: 0 20% 50px 20%;
  }

  .trail-column {
    margin-top: 10%;
  }
}

@media (max-width: 480px) {

  .trail-header h3 {
    font-size: 15px;
  }

  .overlay h4 {
    font-size: 15px;
  }
  
  .overlay p {
  font-size: 11px;
  }

  .small-orange-line {
    height: 2px;
  }
}


